<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.projectx"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Artist.ArtistInterface">

        </activity>
        <activity
            android:name=".playlist.PlayListFull"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".playlist.PopMenu"
            android:theme="@style/AppTheme.PopMenuTheme" />
        <activity
            android:name=".playlist.PlaylistEmpty"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />

        <activity android:name=".AboutActivity"></activity>

        <activity android:name=".UserActivity.UserActivity">

        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".authentication.AuthenticationPage" />
        <activity android:name=".authentication.SignUpActivity" />
        <activity android:name=".authentication.LoginActivity" />
        <activity
            android:name=".MusicPlayer"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity android:name=".authentication.LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".playlist.NameRenamePlaylist" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>